ul {
  list-style: none;
  font-size: 0; }
  ul ba
li {
    display: block;
    display: inline-block; }
  ul li:hover {
    background-color: #2C3E50; }
  ul li a {
    color: #ECF0F1;
    text-decoration: none; }

header {
  background-image: linear-gradient(to bottom, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #00131E, #4B4B4B, #4B4B4B);
  display: inline-block; }
  header img {
    width: 10%;
    display: inline-block; }
  header h1 {
    font-size: 24px;
    display: inline-block;
    color: #ECF0F1; }

li {
  display: inline-block;
  width: 32.45%;
  position: relative;
  font-size: 14px;
  justify-content: center;
  text-align: center; }

footer {
  background-color: #00131E;
  margin-top: 20px; }
  footer h5 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  footer .list-unstyled {
    padding-left: 0; }
    footer .list-unstyled a {
      text-decoration: none;
      color: #00131E; }
      footer .list-unstyled a:hover {
        text-decoration: none;
        color: #ECF0F1; }
  footer .bg-dark {
    background-color: #00131E;
    padding: 10px; }

#mapa iframe {
  width: 100%;
  height: 100px; }

.roto {
  width: 100%;
  height: 400px;
  object-fit: cover; }
