body {
  background-image: linear-gradient(to bottom #ECF0F1); }

ul {
  list-style: none;
  font-size: 0; }
  ul ba
li {
    display: block;
    display: inline-block; }
  ul li:hover {
    background-color: #2C3E50; }
  ul li a {
    color: #ECF0F1;
    text-decoration: none; }

header {
  background-image: linear-gradient(to bottom, #00131E, #00131E);
  display: inline-block; }
  header img {
    width: 10%;
    display: inline-block; }
  header h1 {
    font-size: 24px;
    display: inline-block;
    color: #ECF0F1; }

li {
  display: inline-block;
  width: 32.45%;
  position: relative;
  font-size: 14px;
  justify-content: center;
  text-align: center; }

footer {
  background-color: #00131E;
  margin-top: 20px; }
  footer h5 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  footer .list-unstyled {
    padding-left: 0; }
    footer .list-unstyled a {
      text-decoration: none;
      color: #00131E; }
      footer .list-unstyled a:hover {
        text-decoration: none;
        color: #ECF0F1; }

.roto {
  background-color: #00131E;
  margin-top: 10px; }

#mapa iframe {
  width: 100%;
  height: 100px; }

.img-container {
  text-align: center;
  background-color: #ECF0F1; }

.img-container img {
  display: none;
  margin-top: 10px; }

.img-container input[type="radio"] {
  display: none; }

.img-container input[type="radio"]:checked + label img {
  display: block; }

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.btn-container label {
  margin: 0 5px; }

.imagen {
  width: 100%;
  height: 400px;
  margin-top: 10px; }

.image-box {
  background-color: #ECF0F1;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px; }

.btn-custom {
  background-color: #ECF0F1;
  color: #ECF0F1; }

.machine-card {
  background-color: #ECF0F1; }
