$fondo:#00131E;
$letrablanca:#ECF0F1;
$fondoblanco:#4B4B4B;
body{
  background-image: linear-gradient(to bottom $letrablanca);
}
ul{
    list-style: none;
    font-size: 0;
    ba

        li{
            display: block;
            display: inline-block;

        }
    li{
        &:hover{
            background-color: #2C3E50;
        }

        a{
            color: $letrablanca;
            text-decoration: none;
        }
    }
}
header{
  background-image: linear-gradient(to bottom ,$fondo,$fondo);
  display: inline-block;
  img{
    width: 10%;
    display: inline-block;
  }
  h1{
    font-size: 24px;
    display: inline-block;
    color: $letrablanca;
  }
}
li{
    display: inline-block;
    width: 32.45%;
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}



footer {
  background-color:$fondo;
  margin-top: 20px;
    
    h5 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    
    .list-unstyled {
      padding-left: 0;
      
      a {
        text-decoration: none;
        color: $fondo;
        
        &:hover {
          text-decoration: none;
          color: $letrablanca;
        }
      }
    }
  
  
}
.roto {
  background-color: $fondo ;
  margin-top: 10px;
}
#mapa iframe {
  width: 100%;
  height: 100px;

}

.img-container {
  text-align: center;
  background-color: $letrablanca;
}
.img-container img {
  display: none;
  margin-top: 10px;
}
.img-container input[type="radio"] {
  display: none;
}
.img-container input[type="radio"]:checked + label img {
  display: block;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn-container label {
  margin: 0 5px;
}
.imagen{
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.image-box {
 background-color: $letrablanca;
padding: 20px;
text-align: center;
margin-bottom: 20px;
}
.btn-custom {
  background-color: $letrablanca;
  color: $letrablanca;
}


.machine-card{
  background-color: $letrablanca;
}



