ul{
    list-style: none;
    font-size: 0;

    ul{
        position: absolute;
        display: none;

        li{
            display: block;
        }
    }

    li{
        &:hover{
            background-color: aquamarine;
            ul{
                display: block;
                background-color: aquamarine;
            }
        }

        a{
            color: white;
            text-decoration: none;
        }
    }
}

li{
    display: inline-block;
    width: 23%;
    position: relative;
    font-size: 14px;
}

$colorTitulo: red;
$borderTitulo: solid 2px aqua;

header{
    background-color: black;
}

.contBordes{
    border: solid 3px black;
}

h1{
    color: $colorTitulo;
    border: $borderTitulo;
}

/*Maps*/
/*Se suelen usar cuando tenemos varios elementos con una leve diferencia*/
$coloresDivs:(
    1: blue,
    2: violet,
    3: yellow,
);

/*Ciclo - Each*/
@each $num, $color in $coloresDivs{
    .cont#{$num}{
        height: 100px;
        background-color: $color;
    }
}

$contColores:(
    secElectro: orange,
    secCelu: green,
    secOfertas: aqua,
);

.cont4{
    height: 150px;
    background-color: map-get($contColores, secOfertas);
}

/*Extend - Herencia*/
.cont5{
    @extend .cont4;
    border-bottom: solid 4px red;

}

/*Mixin*/
@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}

.contFoto{
    @include medidasFotos( 350px, 400px);
    border: solid 4px red;
}