$fondo:#00131E;
$letrablanca:#ECF0F1;
$fondoblanco:#4B4B4B;

ul{
    list-style: none;
    font-size: 0;
    ba

        li{
            display: block;
            display: inline-block;

        }
    li{
        &:hover{
            background-color: #2C3E50;
        }

        a{
            color: $letrablanca;
            text-decoration: none;
        }
    }
}
header{
  background-image: linear-gradient(to bottom ,$fondo,$fondo,$fondo,$fondo,$fondo,$fondo,$fondo,$fondoblanco);
  display: inline-block;
  img{
    width: 10%;
    display: inline-block;
  }
  h1{
    font-size: 24px;
    display: inline-block;
    color: $letrablanca;
  }
}
li{
    display: inline-block;
    width: 32.45%;
    position: relative;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}



@mixin medidasFotos($ancho, $alto){
    height: $alto;
    width: $ancho;
}


footer {
  background-color:$fondo;
  margin-top: 20px;
    
    h5 {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    
    .list-unstyled {
      padding-left: 0;
      
      a {
        text-decoration: none;
        color: $fondo;
        
        &:hover {
          text-decoration: none;
          color: $letrablanca;
        }
      }
    }
  
  .bg-dark {
    background-color: $fondo ;
    padding: 10px;
  }
}

#mapa iframe {
  width: 100%;
  height: 100px;

}


